@import "theme.css";

* {
    color: @text;
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 15px;
}

window#waybar {
    background-color: @mantle;
    border: 3px @crust;
    border-radius: 6px;
    margin-bottom: -7px;
}

#workspaces,
#window,
#mode,
#custom-powermenu,
#tray {
  background-color: @base;
  padding: 0 8px;
  margin: 2px 2px 2px 2px;
  border-radius: 6px;
  background-clip: padding-box;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: @blue;
}

#custom-powermenu {
    font-size: 15px;
    padding-right: 4px;
    padding-left: 9px;
}