* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 15px;
}

@import "themes/theme.css";

window#waybar {
  /* background-color: rgba(18, 21, 29, 0.98); */
  background-color: #1a1b26;
  border: 3px #7aa2f7;
  /* background-color: rgba(0, 0, 0, 0); */
  border-radius: 6px;
  color: @main-fg;
  opacity: 1;
  transition-property: background-color;
  transition-duration: .5s;
  margin-bottom: -7px;
}

#workspaces,
#window,
#mode,
#custom-powermenu,
#tray {
  background-color: #0000ff;
  padding: 0 8px;
  margin: 2px 2px 2px 2px;
  border-radius: 6px;
  background-clip: padding-box;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: #a9b1d6;
}

#workspaces button:hover {
  background-color: rgba(31, 31, 45, 0.5)
}

#workspaces button.active {
  color: #7aa2f7;
}

#workspaces button.urgent {
  color: #e06c75;
}

#custom-powermenu {
    color: #1a1b26;
    font-size: 15px;
    padding-right: 4px;
    padding-left: 9px;
}