* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background-color: @mantle;
  border: 3px @crust;
  border-radius: 10px;
}

#waybar.empty #window {
  background: none;
}

tooltip {
  background: @mantle;
  color: @text;
}

#workspaces,
#window,
#mode,
#custom-powermenu,
#custom-media,
#pulseaudio,
#clock,
#tray {
  color: @text;
  background-color: @base;
  padding: 0 10px;
  margin: 4px 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 60px;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: @text;
  border-radius: 60px;
}

#workspaces button:hover {
  background-color: rgba(31, 31, 45, 0.5);
}

#workspaces button.active {
  color: @lavender;
}

#clock {
  padding-right: 1em;
  color: @mantle;
  background-color: @maroon;
}

#pulseaudio {
  color: @mantle;
  background-color: @pink;
}

#custom-media {
  color: @mantle;
  background-color: @lavender;
}

#custom-powermenu {
  color: @mantle;
  background-color: @red;
  font-size: 15px;
  padding-right: calc(1em - 2px);
  padding-left: 9px;
}

#custom-nix {
  background-color: @mantle;
  color: @blue;
  font-size: 25px;
  margin: 1px;
  padding-left: 9px;
  border-radius: 60px;
}
